// out: ../css/style.css, sourcemap: false, compress: true

html {
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
