<!doctype html>
<html>
  <head>
    <title>GoGame</title>
    <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
  </head>
  <body class="grid loading">
    <div class="load-container"><div class="loader"></div></div>
    <div id="game" class="black"></div>
    <ul id="messages"></ul>
    <form id="message-input" action="">
      <input id="m" autocomplete="off"/><button>Envoyer</button>
    </form>
    <script src="/static/js/client.js"></script>
    <script src="/static/js/client-room.js"></script>
  </body>
</html>
